.profileTopContainer{
    flex: 6;
    padding: 20px;

}
.profileTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: darkblue;
}
.profileTitle{
    color: aliceblue;
    margin-left: 10px;
    font-weight: 300;
}
.profileAddButton{
    width: 100px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
}
.profileContainer{
    display: flex;
    margin-top: 19px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

}
.profileShow{
    flex: 1;
    padding: 19px;
}
.profileShowTop{
    display: flex;
    align-items: center;
}
.profileUpdate{
    flex: 2;
    padding: 19px;
    margin-left: 19px;
}
.profileShowImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
} 
.myProfileName{
    font-weight: 300;

}
.myProfileTitle{
font-weight: 300;
}
.profileShowBottom{
    margin-top: 10px;
}
.profileShowTitle{
    font-size: 15px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}
.profileShowInfo{
    display: flex;
    align-items: center;
    margin: 19px 0px;
    color: #444
    ;
}
.profileShowIcon{
    color: dodgerblue;
}
.profileShowInfoTitle{
    margin-left: 12px;
}
.profileUpdateTitle{
    font-size: 22px;
    font-weight: 600;
}
.profileUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.profileUpdateItem{
display: flex;
flex-direction: column;
}
.profileUpdateItem > label{
    margin-bottom: 5px;
    font-size: 17px;
}
.profileUpdateInput{
    width: 250px;
    height: 21px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;

}
.profileUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profileUpdateUpload{
    display: flex;
    align-items: center;
}
.profileUpdateIcon{
    cursor: pointer;
}
.profileUpdateImg{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 19px;

}
.profileUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    background-color: dodgerblue;
    color: white;

}